<%- include('layout/header') %>

<body class="text-gray-900">
  <div class="min-h-screen">
    <div class="container mx-auto p-8">
        <% if (typeof error !== 'undefined') { %>
          <p class="text-red-500 mb-4"><%= error %></p>
        <% } %>
        <form action="/login" method="POST" class="space-y-4 bg-gray-100 px-9 p-5 mt-7 rounded-md max-w-xl mx-auto">
          <h1 class="text-2xl font-bold mb-8 text-center text-gray-800 ">Iniciar Sesión</h1>

          <div>
            <label for="email" class="block text-md text-gray-800 mb-2">Correo electrónico:</label>
            <input type="email" id="email" name="email" required class="w-full p-3 rounded" />
          </div>
          <div>
            <label for="password" class="block text-md text-gray-800 mb-2">Contraseña:</label>
            <input type="password" id="password" name="password" required class="w-full p-3 rounded mb-7" />
          </div>
          <button type="submit" class="w-full bg-gray-800 cursor-pointer hover:bg-gray-900 transition text-white py-2 rounded-full">Entrar</button>
        </form>
      </div>
    </div>
 
  
  <%- include('layout/footer') %>
</body>
